# Weather Analysis

In [3]:
# Data Frames
import pandas as pd

## Collecting The Data

The follwing code outputs the filename used to store the data file
``` bash
date +"%Y%m%d_%H%M%S_weather.json.  
```
The `%Y is replaced by the four-digit year (e.g. 2024)

# Analysing The Data

In [9]:
# Read The Data
df = pd.read_json('/workspaces/computer_infrastructure_assessment/data/weather/weather_20241109_130626.json')

In [10]:
# Show
df.head()

,name,temperature,symbol,weatherDescription,text,windSpeed,windGust,cardinalWindDirection,windDirection,humidity,rainfall,pressure,dayName,date,reportTime
0,Athenry,12,04n,Cloudy,"""Cloudy""",13,-,E,90,92,0,1020,Saturday,2024-09-11,00:00
1,Athenry,12,04n,Cloudy,"""Cloudy""",15,-,E,90,93,0,1020,Saturday,2024-09-11,01:00
2,Athenry,12,15n,Fog / Mist,"""Mist""",11,-,E,90,95,0,1020,Saturday,2024-09-11,02:00
3,Athenry,12,15n,Fog / Mist,"""Mist""",11,-,E,90,95,0,1020,Saturday,2024-09-11,03:00
4,Athenry,12,15n,Fog / Mist,"""Mist""",11,-,SE,135,93,0,1020,Saturday,2024-09-11,04:00

## End